.container {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 400ms;
}

.container.container-active {
    opacity: 1;
}